@import "includes/navigation.css";  
@import "includes/scrollbar.css";
@import "includes/animation.css";
/************************** Basics *****************/
*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
body{
     background-image: url('../src/images/pattern.png');
    background-repeat: repeat;
   
}
/************************** page container box *****************/
.page{
    width:96%;
    left: 2%;
    color: #fff;
    height:85vh;
    position: fixed;
    overflow: auto;
    padding-bottom: 10px;
    overflow: hidden;
}
/**************************  about us *****************/
.about{
    height: 500px;
    text-align: center;
    padding: 40px 0;
}
.about h2{
    color: #dbab83;
    font-size: 35px;
    line-height: 48px;
    text-transform: uppercase;
}
.about .styledPar{
    color: #dbab83;
    font-size: 24px;
    line-height: 30px;
    
    font-weight: 700;
    margin-bottom: 10px;
}
.about .last-p{ margin-bottom: 40px;}
.about p{
    letter-spacing: 1.2px;
    line-height: 24px;
}
.about .teams{
    overflow: hidden;
}
.about .teams .item{
    box-sizing: border-box;
    padding-left: 10px;
    display: inline-block;
    width: 24%;
    float: left;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
.about .teams .item img {width: 100%; height: 320px;}
.about .teams .caption{
   color: #dfdfdf;
   box-sizing: border-box;
   background-color: rgba(71,67,64,.9);
   position: absolute; 
   top: 77%;
   left: 3%;
   width: 97%;
   padding: 10px;
   line-height: 29px;
   text-align: center;
   transition: all 1s;
}
.about .teams .item:hover .caption{
    top:20%;
    bottom: 0%;
}
.about .teams .caption h1{margin-bottom: 5px;}
.caption p {
    padding: 7px;
}
.about .teams .caption .social-icon a{
    margin: 10px;
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    border: 1px solid#eaeaea;
    background: transparent;
    border-radius: 200px;
    margin: 5px 2px;
    line-height: 29px;
    transition: all 1s;
}
.about .teams .caption .social-icon a:hover{
    background-color: #dbab83;
    border-color: #dbab83;
}