@import "includes/navigation.css";  
@import "includes/scrollbar.css";
@import "includes/animation.css";
/************************** Basics *****************/
*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #000;
    overflow: hidden;
}
/************************** page container box *****************/
.page{
    width:96%;
    left: 2%;
    color: #fff;
    height:85vh;
    position: fixed;
    overflow: auto;
}
.home{
    height: 100%;
    background-image: url('../src/images/gameImg.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.home .layer{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.85);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.home .caption{
  margin: 120px;
  margin-left: 80px;
  margin-right: 5%;
  margin-top: 120px;
  width: 42%;  	   
  display: inline-block; 	 
  float: left;
}
.home .vidDiv {
  text-align: left;
  display: inline-block; 	 
  margin-top: 150px;
  width: 42%; 
  float:left;
  margin-top: 6%;
}
.home .vidDiv h1{
    margin-bottom: 20px;
    font-size: xx-large;
    color: #ffc79a;
}
.home .vidDiv video{
    width: 100%;
    height: 100%;
    border:5px solid#ac7d51e6;
    
}
.home .caption p:first-of-type{
    font-size: 24px;
    line-height: 24px;
    color:#dbab83;
    margin: 10px 0;
}
.home .caption h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.home .caption .border{
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height:30px;
    color:#ccc;
    background-color: rgba(0, 0, 0,.3);
}
.home .caption button{
    cursor: pointer;
    margin: 20px 20px 10px 0;
    width: 180px;
    height: 50px;
    font-size:large ;
    background-color:rgba(77,56,36,.9);
    color: #fff;
    border:1px solid#dbab83;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    outline:none;
}
/* Play and About Buttons Effect */
.home .caption button:hover{
    color:#fffefe;
    width: 200px;
    height:60px;
    font-size: x-large;
    transition: height  0.2s, width 0.2s , font-size 0.2s;
}
.home .caption button:active{
    background-color: rgba(129, 89, 48, 0.9);
    border:1px solid#4d3824e6;
}

.hidden{
    display: none;
}
.visible{
    display: block;
}