/************************** Basics *****************/
*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #000;
    overflow: hidden;
}

/************************** scrollbar *****************/
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{
    border:4px solid #dbab83;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #dbab83,
        #ccc
    );
    border-radius: 3px;
}

/************************** navbar *****************/
nav {
    overflow: hidden;
    padding: 20px 10px  ;
    
    /* bounce effect */
    -webkit-animation: bounce 1s ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 1s ease-out;
}
.container{
    font-size: x-large;
}
nav .container{
    width: 80%;
    margin: auto;
}
nav .nav-logo, 
nav .nav-items{
    display: inline-block;
    float: left;
}
nav .nav-logo{ 
    width:30%;
    cursor: pointer;
}
nav .nav-logo p:hover{
    font-weight: bolder;
    font-size:xx-large;
    transition: font-size 0.2s;    
}

nav .nav-logo p{
    color:#dbab83;
    letter-spacing:.9px;
    font-size: 28px;
    font-weight: 800;
}
nav .nav-items{width: 40%;}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}  
nav ul a {
    color:#dbab83;
    letter-spacing: 1px;
    text-decoration: none;
}

nav ul .active a{
    color: #fff;
    font-weight: bold;
}

nav ul  a:hover{
    font-weight: bolder;
    font-size:larger;
    transition: font-size 0.2s;
}
nav ul  a:active{
    font-weight: bolder;
    color:rgb(255, 0, 0);
    font-size:x-large;
    transition: font-size 0.2s;
}
nav ul .deactive a{
    color:#dbab83;
    letter-spacing: 1px;
    text-decoration: none;
}
nav .nav-login{display: inline-block; float:right;}
nav .nav-login button{
    cursor: pointer;
    background-color: transparent;
    border:1px solid#dbab83;
    padding: 10px 40px;
    border-radius: 10px;
    color:#dbab83;
    font-weight: bold;
    font-size:large ;
    background-color:rgba(77,56,36,.9);
    outline:none;
}

nav .nav-login button:hover{
    background-color: #8a6343;
    color: #fff;
    font-size: x-large;
    transition: font-size 0.2s;
}
nav .nav-login button:active{
    background-color: rgba(129, 89, 48, 0.9);
    border:1px solid#4d3824e6;
}

/************************** page container box *****************/
.page{
    width:96%;
    left: 2%;
    color: #fff;
    height:85vh;
    position: fixed;
    overflow: auto;
}
.home{
    height: 100%;
    background-image: url('../src/bg.jpeg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.home .layer{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.85);
}
.home .caption{
    margin: 150px;
    width: 40%;  
    display: inline-block; 
}
.home .vidDiv {
    text-align: center;
    display: inline-block; 
    margin-top: 150px;
    width: 40%; 
}
.home .vidDiv h1{
    margin-bottom: 20px;
    font-size: xx-large;
    color: #ffc79a;
}
.home .vidDiv video{
    width: 600px;
    height: 338px;
    border:5px solid#ac7d51e6;
}
.home .caption p:first-of-type{
    font-size: 24px;
    line-height: 24px;
    color:#dbab83;
    margin: 10px 0;
}
.home .caption h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 11px;
    text-transform: uppercase;
}
.home .caption .border{
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height:30px;
    color:#ccc;
    background-color: rgba(0, 0, 0,.3);
}
.home .caption button{
    cursor: pointer;
    margin: 20px 20px 10px 0;
    width: 180px;
    height: 50px;
    font-size:large ;
    background-color:rgba(77,56,36,.9);
    color: #fff;
    border:1px solid#dbab83;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    outline:none;
}
.home .caption button:hover{

    color:#fffefe;
    width: 200px;
    height:60px;
    font-size: x-large;
    transition: height  0.2s, width 0.2s , font-size 0.2s;
}
.home .caption button:active{
    background-color: rgba(129, 89, 48, 0.9);
    border:1px solid#4d3824e6;
}
/*********** Animations ***********/

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
	0% {
		-webkit-transform:translateY(-100%);
	}
	5% {
		-webkit-transform:translateY(-100%);
	}
	15% {
		-webkit-transform:translateY(0);
		padding: 4px auto;
	}
	20% {
		-webkit-transform:translateY(-80%);
	}
	25% {
		-webkit-transform:translateY(0%);
		padding: 4px auto;
	}
	30% {
		-webkit-transform:translateY(-70%);
	}
	35% {
		-webkit-transform:translateY(0%);
		padding: 5px auto;
	}
	40% {
		-webkit-transform:translateY(-60%);
	}
	45% {
		-webkit-transform:translateY(0%);
		padding: 5px auto;
	}
	50% {
		-webkit-transform:translateY(-50%);
	}
	55% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
	60% {
		-webkit-transform:translateY(-30%);
	}
	65% {
		-webkit-transform:translateY(0%);
		padding: 6px auto;
	}
	70% {
		-webkit-transform:translateY(-15%);
	}
	75% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	80% {
		-webkit-transform:translateY(-10%);
	}
	85% {
		-webkit-transform:translateY(0);
		padding: 8px auto;
	}
	90% {
		-webkit-transform:translateY(-5%);
	}
	95% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
	100% {
		-webkit-transform:translateY(0);
		padding: 10px;
	}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}