*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
   
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
      
}
body{
    background-color: #000;
    overflow: hidden;
}

.page{
    top: 5%;
    width:96%;
    left: 2%;
    color: #fff;
    height:90%;
    position: fixed;
    overflow: auto;
}
.home{
    height: 100%;
    background-image: url('../src/images/gameImg.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.home .layer{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.85);

}
.playerHeader{
    text-align: center;
    width: 100%;
    background-color:rgba(0, 0, 0,.5);
}
.gameInfo{
    display: inline-block;
    color: bisque;
    font-size: x-large;
}
#playerName{
    margin:1%;
    margin-left:2%;

}
#score{
    margin-left:25%;
}
#points{
    margin-left:1%;
}
#health{
    width: 20%;
    margin-left:25%;
    margin-right:2%;

    background-color: rgb(184, 131, 33);
}
#gameScreen{
    margin-top: 1%;
    height: 85%;
    width:99.6%;
    border: 3px rgb(216, 181, 86) solid;
}
#player{
    /* top: 50%;
    left: 50%; */
    position: relative;
    /* transform: translate(-50%, -50%); */
    margin: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(255, 60, 0);
    border: 3px rgb(216, 181, 86) solid;
}
img{
    display: none;
}