*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
   
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    upported by Chrome, Edge, Opera and Firefox */
}
body{
    background-color: #000;
    overflow: hidden;    
}

.page{
    top: 2%;
        margin-bottom: 0%;

    width:96%;
    left: 2%;
    color: #fff;
    height:90%;
    position: fixed;
    overflow: auto;
}
.home{
    height: 100%;
    background-image: url('../src/images/gameImg.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.home .layer{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.85);

}
.playerHeader{
    text-align: center;
    width: 100%;
    background-color:rgba(0, 0, 0,.5);
}
.gameInfo{
    display: inline-block;
    color: bisque;
    font-size: x-large;
    font-weight: bolder;
}
#playerName{
    margin-left:1%;
    margin-bottom: 1%;
}
#score{
    margin-left:17%;
    color: greenyellow;
}
#points{
    margin-left:1%;
    color: greenyellow;
}
#wave{
    margin-left:17%;
    color: #ff2d2d;
}
#waveNo{
    margin-left:1%;
    color: rgb(255, 57, 57);
}
#healthContainer{
    width: 15%;
    margin-left:20%;
    margin-right:2%;
}
#health{  
    width: 100%;
    background-color: rgb(255, 21, 0);
    color:rgb(255, 255, 255);
}
#gameScreen{
    height: 93%;
    width:99.6%;
    border: 3px rgb(216, 138, 86) solid;
    cursor: crosshair;
    /* background-image: url("/src/images/mission1.png"); */
    background-size: 100% 100%;
}

img{
    display: none;
}
