/*Responsive Badges Page*/
@media(min-width:500px) and (max-width:1200px){
    .about .last-p br{  display: none;}       }
@media(max-width:500px){/*small screen at mobile */ 
    .about .last-p{
        font-size: 18px;
        line-height: 1.8;
        padding: 0 10px; }
    .about .teams .item {
        width: 80% !important;
        margin: auto;
        margin-bottom: 20px;
        left:6%}
    .about .teams .item .caption{left:7%;right: 5% }
}

@media(min-width:501px ) and (max-width:800px){ 
    .about{ margin-left: 0;}
    .about .teams .item {
        width: 47% !important;
        margin-bottom: 20px;
    }
    .about .teams .item .caption{ left:7%;right: 5% } 
}
@media(min-width:801px ) and (max-width:1200px){
    .about .teams .item {
        width: 31% !important;
        margin-bottom: 20px;
    }
}